body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 30px;
}

h3 {
  font-size: 28px;
}

input {
  font-size: 18px;
  padding: 12px 18px;
  margin-right: 13px;
  border: 1px solid black;
}

input[type="date"] {
  padding: 10px 18px;
}

.js-add-button {
  background-color: green;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 13px 27px;
}

.delete-button,
.clear-list {
  background-color: darkred;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 13px 27px;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 270px 180px 130px;
  column-gap: 10px;
  padding: 10px;
  row-gap: 30px;
  align-items: center;
}

.error-info {
  color: red;
  margin-top: 30px;
}

.clear-list {
  background-color: rgb(51, 51, 51);
  color: #fff;
  margin-top: 24px;
}
